/* common style */
* {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}


:root {
    --main-color: #f67c92;
    --p-color: #9c9c9c;
}

main {}

.container {
    max-width: 1000px;
    margin: 0 auto;
    margin-bottom: 100px;
}

.side-menu {
    position: fixed;
    left: 10px;
    top: 250px;
}

.media-icon {
    margin-bottom: 15px;
}

.media-icon img {
    width: 20px;
    height: 20px;
}

/* all secction background design */
.background {
    height: 100vh;
    background-size: 1200px;
    background-repeat: no-repeat;
    background-position-x: 180px;
}

.about-background {
    height: 100vh;
    width: 100%;
}

.offer-background {
    height: 100vh;
    width: 100%;
}


/* nav-bar section */
.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}

.nav-left img {
    width: 80px;
    height: 60px;
}

.nav-right {
    position: fixed;
    right: 150px;
}

.menubar-logo img {
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.menubar-list {
    background-color: rgba(0, 0, 0, 0.274);
    position: absolute;
    top: 300px;
    right: -120px;
    width: 300px;
    visibility: hidden;
    transition: .5s linear;
}

.nav-right:hover .menubar-list {
    visibility: visible;
    top: 50px;
}

.menubar-list ul {
    padding: 10px 20px;
    margin: 0;
    text-align: center;
}

.menubar-list ul li {
    list-style: none;
    margin-top: 20px;
    margin-bottom: 20px;
}

.menubar-list ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
}

.menubar-list ul li a:hover {
    color: var(--main-color);
}

/* hero section */

.hero-main {
    margin-top: 100px;
}

.hero-content {
    width: 400px;
}

.hero-content h1 {
    line-height: 30px;
}

.design {
    margin-top: 100px;
}

.square {
    width: 10px;
    height: 10px;
    margin-top: 15px;
    background-color: var(--main-color);
}

.low-line {
    width: 80px;
    height: 2px;
    margin-top: 10px;
    background-color: var(--main-color);
}

.high-line {
    width: 110px;
    height: 2px;
    margin-top: 10px;
    background-color: var(--main-color);
}

.hero-content p {
    margin-top: 20px;
    margin-bottom: 50px;
    color: var(--p-color);
}

.hero-content a {
    text-decoration: none;
    padding: 10px 30px;
    color: #000;
    border: 2px solid var(--main-color);
    transition: .5s;
}

.hero-content a:hover {
    color: #fff;
    background-color: var(--main-color);
}

/* about section */
.about {
    padding: 100px 0;
}

.about-content {
    width: 400px;
    float: right;
    text-align: right;
    position: relative;
}

.about-content p {
    margin-top: 40px;
    margin-bottom: 20px;
    color: var(--p-color);
}

.about-content h4 {
    margin-top: 80px;
    margin-bottom: 10px;
}

.about-squre {
    position: absolute;
    right: 0;
    top: 30px;
}

.about-design {
    position: absolute;
    right: 0;
    top: 110px;
}

.about-design .square {
    position: absolute;
    right: 0;
    top: -25px;
}

.about-design .low-line {
    float: right;
}

/* course section */
.course {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}

.course h1 {
    line-height: 30px;
}

.course p {
    margin-top: 20px;
    margin-bottom: 50px;
    color: var(--p-color);
}

.course a {
    text-decoration: none;
    padding: 10px 30px;
    color: #000;
    border: 2px solid var(--main-color);
    transition: .5s;
}

.course a:hover {
    color: #fff;
    background-color: var(--main-color);
}

.course-left {
    flex: 1;
}

.course-right {
    flex: 2;
}

.course-right img {
    width: 80%;
    float: right;
}



/* offer section */
.offer {
    padding: 100px 0;
}

.offer-content {
    width: 400px;
    float: right;
    text-align: right;
    position: relative;
}

.offer-content p {
    margin-top: 40px;
    margin-bottom: 40px;
    color: var(--p-color);
}

.offer-content h4 {
    margin-top: 80px;
    margin-bottom: 10px;
}

.offer-squre {
    position: absolute;
    right: 0;
    top: 55px;
}

.offer-design {
    position: absolute;
    right: 0;
    top: 250px;
}

.offer-design .square {
    position: absolute;
    right: 0;
    top: -25px;
}

.offer-design .low-line {
    float: right;
}

.offer-content a {
    text-decoration: none;
    padding: 10px 30px;
    color: #000;
    border: 2px solid var(--main-color);
    transition: .5s;
}

.offer-content a:hover {
    color: #fff;
    background-color: var(--main-color);
}

/* contact section */
.contact {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}

.contact h1 {
    line-height: 30px;
}

.contact p {
    margin-top: 20px;
    margin-bottom: 50px;
    color: var(--p-color);
}

.contact a {
    text-decoration: none;
    padding: 10px 30px;
    color: #000;
    border: 2px solid var(--main-color);
    transition: .5s;
}

.contact a:hover {
    color: #fff;
    background-color: var(--main-color);
}

.contact-left {
    flex: 1;
}

.contact-right {
    flex: 2;
}

.contact-right img {
    width: 80%;
    float: right;
}